name: {{ docker_name.replace('_dev', '_stage') }}

services:
  {{ docker_api_container_name }}:
    build:
      context: .
      dockerfile: Dockerfile.stage
    env_file: ./.env.staging
    environment:
      PORT: {{ server_port }}
{%- if use_postgres %}
      DB_HOST: advensis_postgres_stage
{%- endif %}
      APP_ENV: staging
      ENVIRONMENT: staging
    ports: 
      - "{{ server_port }}:{{ server_port }}"
    command: ["/app/entrypoint.sh"]
    restart: unless-stopped
    networks: 
      - app_stage_network
    container_name: {{ docker_api_container_name }}-stage
    mem_limit: "512m"
    cpus: "0.5"
{%- if use_postgres %}
    depends_on:
      - postgres-stage
{%- endif %}

{%- if use_postgres %}

  postgres-stage:
    image: postgres:{{ postgres_version }}
    environment:
      POSTGRES_USER: ${DB_USER:-stageuser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-stagepassword}
      POSTGRES_DB: ${DB_NAME:-{{ project_slug }}_db_stage}
    volumes:
      - pgdata-stage:/var/lib/postgresql/data
    networks:
      - app_stage_network
    container_name: {{ project_slug }}-postgres-stage
    restart: unless-stopped
{%- endif %}

{%- if use_redis %}

  redis-stage:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app_stage_network
    container_name: {{ project_slug }}-redis-stage
    restart: unless-stopped
{%- endif %}

{%- if use_celery %}

  celery-worker-stage:
    build:
      context: .
      dockerfile: Dockerfile.stage
    env_file: ./.env.staging
    command: celery -A config worker -l info
    depends_on:
      - {{ docker_api_container_name }}
{%- if use_redis %}
      - redis-stage
{%- endif %}
    networks:
      - app_stage_network
    container_name: {{ project_slug }}-celery-worker-stage
    restart: unless-stopped

  celery-beat-stage:
    build:
      context: .
      dockerfile: Dockerfile.stage
    env_file: ./.env.staging
    command: celery -A config beat -l info
    depends_on:
      - {{ docker_api_container_name }}
{%- if use_redis %}
      - redis-stage
{%- endif %}
    networks:
      - app_stage_network
    container_name: {{ project_slug }}-celery-beat-stage
    restart: unless-stopped
{%- endif %}

networks:
  app_stage_network:
    external: true
    name: app_stage_network

{%- if use_postgres %}

volumes:
  pgdata-stage:
{%- endif %}
