#!/bin/bash

# Collecting static files
echo "Collecting static files..."
python manage.py collectstatic --noinput

# Run migrations
echo "Applying database migrations..."
python manage.py makemigrations --merge --noinput
python manage.py migrate

# Run server 
echo "Starting server on port ${PORT}..."
python manage.py runserver 0.0.0.0:${PORT}
